<p id="notice"><%= notice %></p>

<p>
  <strong>Diagnostic code:</strong>
  <%= @diagnostic.diagnostic_code %>
</p>

<p>
  <strong>Diagnostic name:</strong>
  <%= @diagnostic.diagnostic_name %>
</p>

<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<%= link_to 'Back', diagnostics_path %>
