<p id="notice"><%= notice %></p>
<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>
<p>
  Welcome <strong>Mr./Ms. <%= @patient.last_name %></strong>! Would you like to schedule an appointment now?
</p>

<%= link_to 'Yes', new_appointment_path(@appointment) %>  |
<%= link_to 'No', root_path %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Appointment Date</th>
    <th>Patient Name</th>
    <th>Diagnostic Info:</th>
    <th>Total Cost:</th>
  </tr>
  </thead>
  <tbody>
  <% @patient.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.patient.last_name %></td>
        <td><%= appointment.diagnostic.diagnostic_name %></td>
        <td><%= number_to_currency(appointment.total) %> </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
    <tbody>
        <tr>
            <td><b>Total for all invoices: </b></td>
            <td><b><%= number_to_currency(@patient.appointments.sum(:total)) %></b></td>
        </tr>
    </tbody>
</table>
<br>