<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.collection_select :patient_id, Patient.all,:id,:last_name %>
  </div>
  <div class="field">
    <%= f.label :physician_id %><br>
    <%= f.collection_select :physician_id, Physician.all,:id,:last_name %>
  </div>
  <div class="field">
    <%= f.label :time_slot_id %><br>
    <%= f.collection_select :time_slot_id,TimeSlot.all,:id,:time_name %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :diagnostic_id %><br>
    <%= f.collection_select :diagnostic_id,Diagnostic.all,:id,:diagnostic_code %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :complaint %><br>
    <%= f.text_area :complaint %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
