<h1>Editing appointment</h1>

<%= form_for(@appointment) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :diagnostic_id %><br>
      <%= f.collection_select :diagnostic_id,Diagnostic.all,:id,:diagnostic_name %>
    </div>
    <div class="field">
      <%= f.label :total %> to be billed:<br>
      <%= f.text_field :total %>
    </div>
    <div class="field">
      <%= f.label :note %><br>
      <%= f.text_area :note %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<%= link_to 'Show', @appointment %> |
<%= link_to 'Back', appointments_path %>
