<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Physician</th>
      <th>Time slot</th>
      <th>Diagnostic</th>
      <th>Total</th>
      <th>Date</th>
      <th>Complaint</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.last_name %></td>
        <td><%= appointment.physician.last_name %></td>
        <td><%= appointment.time_slot.time_name %></td>
        <td><%= appointment.diagnostic.diagnostic_code %></td>
        <td><%= appointment.total %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.complaint %></td>
        <td><%= appointment.note %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Cancel', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path %> |
<%= link_to 'New Appointment', new_appointment_path %>
