<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.last_name %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.last_name %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @appointment.time_slot.time_name %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @appointment.diagnostic.diagnostic_name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @appointment.total %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Complaint:</strong>
  <%= @appointment.complaint %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>

<%= link_to 'Home', root_path %>
